<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmap - Connexion</title>
    
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="medical-image">
                <img src=".\assets\Premium Photo _ Blister of pills capsiles and stethoscope isolated on blue background.jpeg" alt="background" height="100%" width="100%">
            </div>
            <div class="content">
                <h1 class="tagline">Dal Leen ak jamm !</h1>
                <p class="subtitle">Trouvez les meilleures<br>pharmacies au Sénégal !</p>
            </div>
        </div>
        
        <div class="right-section">
            <div class="login-container">
                <div class="logo">
                    <div class="logo-icon">
                        <img src=".\assets\download (46).jpeg" alt="iconpharmap">
                    </div>
                    <span class="logo-text">Pharmap</span>
                </div>
                
                <h2 class="welcome-text">Bienvenue,</h2>
                <p class="subtitle-text">Nous sommes heureux de vous revoir, veuillez saisir vos informations</p>
                
                <form>
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-input" placeholder="example@gmail.com">
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-input" placeholder="••••••••••">
                    </div>
                    
                    <div class="form-options">
                        <a href="#" class="forgot-password" (click)="navigateToFormulaire()">Inscrire ma pharmacie</a>
                    </div>
                    
                    <button type="submit" class="login-btn">Se connecter</button>
                    
                    <div class="password-forgotten">
                        Mot de passe oublié? <a href="#">changez le ici</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>